// sass components

$black: black;
$white: white;
$red: hsla(14°, 90%, 61%, 0.5);
$dark-red: hsla(14°, 90%, 61%, 1);

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin black-border($size) {
  border: solid $size black;
}

@mixin grey-border($size) {
  border: solid $size #e4e4e4;
}

// html elements

* {
  box-sizing: border-box;
}

html, body {
  margin: 0 0 5% 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: $white;
  border: none;
}

h1 {
  font-size: 18px;
  font-weight: 400;
}

img {
  cursor: pointer;
}

nav {
  padding: 1% 0 1% 30px;
  display: flex;
  ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-right: 1.5%;
  }
  li {
    margin-right: 15px;
    cursor: pointer;
    padding-bottom: 1%;
    border-bottom: solid 2px $red;
    @include border-radius(2.5px);
    &:hover {
      border-bottom: solid 2px $dark-red;
      @include border-radius(2.5px);
    }
  }
}

// id's

#home {
  cursor: pointer;
  padding-bottom: 1%;
  border-bottom: solid 2px $dark-red;
  @include border-radius(2.5px);
}

// nav items

.search-bar {
  @include black-border(0.5px);
  border-radius: 2.5px;
  width: 25vw;
  min-width: 250px;
  margin-right: 2.5%;
  padding-left: 1%;
  &::placeholder {
    font-style: italic;
  }
}

.navButton {
  font-size: 1.25rem;
  margin-right: 2.5%;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

// filter dropdown

.filter {
  margin: 5px 0 30px 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.filter-button {
  position: relative;
  padding: 0.5%;
  z-index: 0;
  font-size: 1rem;
  @include black-border(0.5px);
  border-radius: 5px;
  margin-right: 2.5vw;
  cursor: pointer;
}

.filter-dropdown {
  @include grey-border(0.5px);
  width: 25vw;
  min-width: 350px;
  height: min-content;
  overflow: scroll;
  position: absolute;
  right: 1%;
  top: -5px;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  padding: 1%;
  fieldset {
    border: none;
  }
  button {
    margin: 2.5%;
  }
}

.filter-dropdown fieldset > * {
  display: block;
}

.fieldset-container {
  display: flex;
  justify-content: space-around;
}

.filter-close {
  @include black-border(1px);
  border-radius: 2.5px;
  font-size: 1.25rem;
  padding: 2.5%;
  cursor: pointer;
}

// card and card buttons

.all-cards {
  padding-left: 30px;
  display: grid;
  grid-gap: 30px;
  grid-auto-columns: min-content;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

.card {
  @include grey-border(0.5px);
  box-shadow: 5px 5px 5px #e4e4e4;
  border-radius: 2.5%;
  width: 90%;
  min-width: 200px;
  cursor: pointer;
}

.card-title-info {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5%;
}

.card-button-container {
  display: flex;
  align-items: center;
}

.card-button-container > * {
  margin: 0 5%;
}

.cook {
  display: flex;
  background-image: url("../images/raw-meat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  cursor: pointer;
  &:hover {
    display: flex;
    background-image: url("../images/cooked-meat.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    cursor: pointer;
  }
}

.favorite {
  background-image: url("https://image.flaticon.com/icons/svg/149/149222.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.favorite-active {
  background-image: url("https://image.flaticon.com/icons/svg/148/148841.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.add-button {
  display: flex;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 87.5%;
  cursor: pointer;
}

.add-button-active {
  display: flex;
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 87.5%;
  cursor: pointer;
}

.card-button {
  width: 40px;
  height: 30px;
}

.all-recipe-info,
ol {
  color: #EBF5EE;
  font-size: 220%;
  width: 100%;
}

.recipe-name {
  max-width: 60%;
}

.card-picture {
  width: 100%;
  border-radius: 2.5%;
}

// grocery modal

.grocery-modal {
  @include grey-border(0.5px);
  width: 40vw;
  height: 90vh;
  overflow: scroll;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  left: 28%;
  top: 2.5%;
  border-radius: 5px;
  padding: 1%;
}

.grocery-top {
  display: flex;
  justify-content: space-between;
  button {
    @include black-border(0.5px);
    border-radius: 2.5px;
    cursor: pointer;
  }
}

.grocery-item {
  border-radius: 5px;
  @include black-border(1px);
  display: flex;
  justify-content: space-between;
  padding: 2.5%;
  margin: 2.5% 0;
}

.grocery-right-container {
  display: flex;
}

.grocery-qty {
  margin-right: 15px;
}

.grocery-submit {
  @include black-border(1px);
  border-radius: 2.5px;
  font-size: 1.25rem;
  padding: 2.5%;
  cursor: pointer;
}

.grocery-bottom {
  display: flex;
  justify-content: flex-end;
}

.grocery-totals {
  display: flex;
  justify-content: flex-end;
}

.grocery-totals > * {
  margin-right: 5px;
}

// recipe modal

.recipe-modal {
  @include grey-border(0.5px);
  width: 65vw;
  width: min-content;
  height: 90vh;
  overflow: scroll;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  left: 28%;
  top: 2.5%;
  border-radius: 5px;
  padding: 1%;
}

.recipe-view-image {
  border-radius: 5px;
}

.recipe-title-top {
  display: flex;
  justify-content: space-between;
}

.recipe-name-container h3 {
  color: $black;
  margin: 1% 0;
  font-size: 1.25rem;
}

// js classes

.close-link {
  font-weight: 700;
  display: block;
  text-align: right;
  padding: 1.5%;
}

.modal-opacity {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: $black;
  opacity: 0.5;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 550px) {
  .filter {
    justify-content: flex-start;
    padding-left: 5.5%;
  }
}
