html {
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  position: relative;
}

button {
  background-color: #fff;
  border: none;
}

nav {
  padding-top: 1%;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 1.5%;
}

nav li {
  margin-right: 15px;
}


.main-header {
  display: flex;
  height: auto;
  justify-content: space-between;
  width: 100%;
}

.navButton {
  font-size: 1.25rem;
  margin-right: 2.5%;
}

h1 {
  margin-left: 2.5%;
  font-size: 18px;
  font-weight: 400;
}

.user-info {
}

.search-bar {
  display: flex;
  height: 100%;
  margin: 10px 0px 10px 0px;
  width: 30%;
}

.search-button {
  border: 1px solid #000;
  width: 20%;
  height: 58px;
  margin-top: 3px;
}

.search-input {
  border: 1px solid #000;
  font-size: 100%;
  height: 7vh;
  margin: 3px 7px 0px 0px;
  padding-left: 10px;
  width: 90%;
}

.hidden {
  display: none;
}


.favorite {
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

.add-button {
  display: flex;
  background-image: url("../data/plus.svg");  
  background-repeat: no-repeat;
  background-position: center;
}

.add-button-active {
  display: flex;
  background-image: url("../data/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-button {
  width: 40px;
  height: 30px;
}

.all-cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}

img {
  cursor: pointer;
}

.card {
  border: 0.5px solid #e4e4e4;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-radius: 2.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-title-info {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5%;
}

.card-button-container {
  display: flex;
  align-items: center;
}

.card-button-container > * {
  margin: 0 5%;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: #EBF5EE;
  font-size: 220%;
  width: 100%;
}

h3 {
  color: #EBF5EE;
  font-size: 250%;
}

.recipe-name {
  max-width: 60%;
}

.card-picture {
  width: 100%;
  border-radius: 2.5%;
}

main {
  height: 100%;
  width: 100%;
}

.recipe-modal {
  border: solid 0.5px #e4e4e4;
  width: 65vw;
  width: min-content;
  height: 90vh;
  overflow: scroll;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  left: 28%;
  top: 2.5%;
  border-radius: 5px;
  padding: 1%;
}

.recipe-view-image {
  border-radius: 5px;
}

.recipe-title-top {
  display: flex;
  justify-content: space-between;
}

.modal-opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
}

.recipe-name-container {
}

.recipe-name-container h3 {
  color: black;
  margin: 1% 0;
  font-size: 1.25rem;
}

.close-link {
  display: block;
  text-align: right;
  padding: 1.5%;
}


