// html elements

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: #fff;
  border: none;
}

h1 {
  font-size: 18px;
  font-weight: 400;
}

img {
  cursor: pointer;
}

nav {
  padding-top: 1%;
  display: flex;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 1.5%;
}

nav li {
  margin-right: 15px;
  cursor: pointer;
}

// id's

#home {
  cursor: pointer;
}

// nav items

.search-bar {
  border: solid 0.5px black;
  border-radius: 2.5px;
  width: 25vw;
  min-width: 250px;
  margin-right: 2.5%;
  padding-left: 1%;
}

.search-bar::placeholder {
  font-style: italic;
}

.navButton {
  font-size: 1.25rem;
  margin-right: 2.5%;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

// filter dropdown

.filter {
  margin: 25px 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.filter-button {
  position: relative;
  z-index: 0;
  font-size: 1rem;
  border: solid 1px black;
  border-radius: 5px;
  margin-right: 2.5vw;
  cursor: pointer;
}

.filter-dropdown {
  border: solid 0.5px #e4e4e4;
  width: 25vw;
  min-width: 350px;
  height: min-content;
  overflow: scroll;
  position: absolute;
  right: 1%;
  top: -5px;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  padding: 1%;
}

.filter-dropdown fieldset {
  border: none;
}

.filter-dropdown fieldset > * {
  display: block;
}

.fieldset-container {
  display: flex;
  justify-content: space-around;
}

.filter-dropdown button {
  margin: 2.5%;
}

.filter-close {
  border: solid 1px black;
  border-radius: 2.5px;
  font-size: 1.25rem;
  padding: 2.5%;
  cursor: pointer;
}

// card and card buttons

.all-cards {
  display: grid;
  grid-gap: 30px;
  grid-auto-columns: min-content;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  // border: solid 5px black;
}

.card {
  border: 0.5px solid #e4e4e4;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-radius: 2.5%;
  width: 90%;
  min-width: 200px;
  cursor: pointer;
}

.card-title-info {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5%;
}

.card-button-container {
  display: flex;
  align-items: center;
}

.card-button-container > * {
  margin: 0 5%;
}

.cook {
  display: flex;
  background-image: url("../images/raw-meat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  cursor: pointer;
}

.cook:hover {
  display: flex;
  background-image: url("../images/cooked-meat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  cursor: pointer;
}

.favorite {
  background-image: url("https://image.flaticon.com/icons/svg/149/149222.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.favorite-active {
  background-image: url("https://image.flaticon.com/icons/svg/148/148841.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.add-button {
  display: flex;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 87.5%;
  cursor: pointer;
}

.add-button-active {
  display: flex;
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 87.5%;
  cursor: pointer;
}

.card-button {
  width: 40px;
  height: 30px;
}

.all-recipe-info,
ol {
  color: #EBF5EE;
  font-size: 220%;
  width: 100%;
}

.recipe-name {
  max-width: 60%;
}

.card-picture {
  width: 100%;
  border-radius: 2.5%;
}

// grocery modal

.grocery-modal {
  border: solid 0.5px #e4e4e4;
  width: 40vw;
  height: 90vh;
  overflow: scroll;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  left: 28%;
  top: 2.5%;
  border-radius: 5px;
  padding: 1%;
}

.grocery-top {
  display: flex;
  justify-content: space-between;
}

.grocery-top button {
  border: solid 0.5px black;
  border-radius: 2.5px;
  cursor: pointer;
}

.grocery-item {
  border-radius: 5px;
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
  padding: 2.5%;
  margin: 2.5% 0;
}

.grocery-right-container {
  display: flex;
}

.grocery-qty {
  margin-right: 15px;
}

.grocery-submit {
  border: solid 1px black;
  border-radius: 2.5px;
  font-size: 1.25rem;
  padding: 2.5%;
  cursor: pointer;
}

.grocery-bottom {
  display: flex;
  justify-content: flex-end;
}

.grocery-totals {
  display: flex;
  justify-content: flex-end;
}

.grocery-totals > * {
  margin-right: 5px;
}

// recipe modal

.recipe-modal {
  border: solid 0.5px #e4e4e4;
  width: 65vw;
  width: min-content;
  height: 90vh;
  overflow: scroll;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  left: 28%;
  top: 2.5%;
  border-radius: 5px;
  padding: 1%;
}

.recipe-view-image {
  border-radius: 5px;
}

.recipe-title-top {
  display: flex;
  justify-content: space-between;
}

.recipe-name-container h3 {
  color: black;
  margin: 1% 0;
  font-size: 1.25rem;
}

// js classes

.close-link {
  font-weight: 700;
  display: block;
  text-align: right;
  padding: 1.5%;
}

.modal-opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}
